/* Main Custom Style Sheet */
@font-face{
    font-family:itc;
    src:url(../fonts/itc-avantgarde.otf) format("opentype")
}
/* own custom keyframe animations */
@keyframes preLoader{

    0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: scale(1);
    }

   50% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: scale(1.15);
        }
  
    75%{
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: scale(1.1);
    }
    100%{
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: scale(1);
    }
  }

.p0{
    padding: 0 !important;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    font-family : itc;
}
.zHigh{
    z-index: 1000;
}
.preLoaderAnimation{
   animation: preLoader 2s infinite;
}

#pre-loader{
    width: 100vw;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    transition: all 1s; 
    overflow: hidden;
    z-index: 1000;
}
#pre-loader-content {
    height: 20vh;
    margin-top: 30vh;
}
#pre-loader-image img {
    height: 100px;
    
}
#pre-loader-text{
    color: #fff;
    font-size: 16px;
    margin-top: -20px;
}
#pre-loader-text h4{
    font-weight: 700;
}

#customSlider{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    background: #000;
}

.customSlider_slide{
   
    width: 100%;
    height: 100%;
}
.slide-wrapper{
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: -100vw;
    transition: all 0.5s;
}
.active_slide .slide-wrapper{
    right: -00vw;
}
.bg-color img{
    object-fit : cover;
    width: 100%;
}
.parallax-item{
    position: absolute;
    width: 100vw;
    height: 100vh;;
    z-index: 5;
    transition: 0.5s;
}

.scene-item{
   

transition: all 0.5s;

transform-style: preserve-3d;

backface-visibility: hidden;
transform-style: preserve-3d;
    backface-visibility: hidden;
}
.scene-content{
    position: absolute;
    width: 35vw;
    left: 55vw !important;
    top: 35vh !important;
    -webkit-z-index: 6;
    -moz-z-index: 6;
    -ms-z-index: 6;
    -o-z-index: 6;
    z-index: 6;
}

.scene-content span{
    color: #000;
    font-size: 35px;
    font-weight: 700;

}

.scene-content a{
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;

}

.element-a-1{
    background: url("https://www.exitable.nl/dist/assets/img/x-element-3.png");
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;

}
.element-a-2{
    background: url("https://www.exitable.nl/dist/assets/img/x-element-2.png");
    position: absolute;
    width: 20vw;
    height: 30vh;
    z-index: 7;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5vh;
    left: 30vw;

}

.element-a-3{
    background: url("https://www.exitable.nl/dist/assets/img/x-element-1.png");
    position: absolute;
    width: 30vw;
    height: 45vh;
    z-index: 7;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 00vh;
    left: 10vw;
    background-position: bottom left;

}

.svg-letter{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 15vw;
    top: 15vh;
    z-index: 1;
}

.letter {
    visibility: hidden;
}
 .svg-letter img {
    position: absolute;
    top: 0;
    max-height: 100%;
    width:auto;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    display: none;
    z-index: 10000000000;
}

.active_slide  .svg-letter img {
    display: block;
}
.slide-b{
    z-index: 200;
}

.element-b-1{
    background: url("https://www.exitable.nl/dist/assets/img/gilde-3.png");
    position: absolute;
    width: 25vw;
    height: 25vh;
    z-index: 5;
    left: 10vw;
    bottom: 15vh;
    background-size: contain;
    background-repeat: no-repeat;


}
.element-b-2{
    background: url("https://www.exitable.nl/dist/assets/img/gilde-2.png");
    position: absolute;
    width: 25vw;
    height: 25vh;
    z-index: 7;
    background-size: contain;
    background-repeat: no-repeat;
    top: 16vh;
    left: 15vw;
    z-index: 0;

}

.element-b-3{
    background: url("https://www.exitable.nl/dist/assets/img/gilde-1.png");
    position: absolute;
    width: 15vw;
    height: 15vh;
    z-index: 7;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 45vh;
    left: 10vw;
    background-position: bottom left;

}

.controlBtn{
    position: absolute;
    top: 48%;
    z-index: 10000;
    width:40px;
    height: 40px;
    cursor: pointer;
}

.controlBtn i{
   font-size: 40px;
}

#prevBtn{
    left: 20px;
}

#nextBtn{
    right: 20px;
}

.customSlider_slide{
    z-index: 5;
    position: absolute;
}

.active_slide{
    display: block;
    z-index: 10;
    position: absolute;
}
.active_slide .scene-item{
    display: block;
    -webkit-animation: fadeInUp 0.5s;
     animation: fadeInUp 0.5s;
}

.scene-item{
    display: none;
    -webkit-animation: fadeOutDown 0.5s;
     animation: fadeOutDown 0.5s;
}



.blog-container{
    width: 100vw;
    margin-top: 80px;

}

.blog-tile{
    height: 320px;
    border: 1px solid #333;
    position: relative;
}
.blog-image{
    position: absolute;
    width:100%;
    height: 100%;

}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-image:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
}

.blog-content{
    position: absolute;
    z-index: 10;
    color: #fff;
    left: 20%;
    bottom: 50%;
    width: 60%;
    border-left: 2px solid yellow;
    padding-left: 30px;
}
.blog-content h4{
    margin :0;
}

.blog-admin{
    position: absolute;
    z-index: 10;
    color: #fff;
    bottom: 10%;
    left: 20%;
}

.admin-image img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

#svg-change{
    position: absolute;
    z-index: 10;
    width: 600px;
    height: 600px;
    left: 15vw;
    top: 15vh;
}
.letter-e{
    visibility: hidden;
}